apiVersion: v1
kind: ConfigMap
metadata:
  name: decker-cm
  namespace: cams-decker
data:
  APP_FRONTEND_ORIGIN: http://cams.local

  DB_HOST: host.minikube.internal
  DB_PORT: "5432"
  DB_SCHEMA_NAME: cams_decker

  REDIS_HOST: host.minikube.internal
  REDIS_PORT: "6379"

  LOG_LEVEL: DEBUG
  LOG_REQUEST_DETAILS: "true"
